{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{%block body %}
	<div class="container">
		<h1 class="my-3 text-center">Programs</h1>
		<div class="position-relative my-5">
			<a class="btn btn-outline-secondary position-absolute bottom-0 end-0" href="{{ path('program_new') }}">Create new</a>
		</div>

		{% for program in programs %}
			<div class="mb-5">
				<h2>
					{{ loop.index }}
					/
					{{ program.title }}
					- Catégorie :
					{{ program.category.name }}
				</h2>
				<p>{{ program.synopsis }}</p>
				{# Lien vers la fiche de la série : #}
				<a class="btn btn-outline-secondary" href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
		<br>
		<a class="btn btn-outline-primary" href="{{ path('app_index') }}">
			Retour à l'accueil
		</a>
	</div>
{% endblock %}
